* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Tamma 2", cursive;
  scroll-behavior: smooth;
}
html,
body{
  overflow-x: hidden;
}
:root {
  --btn: rgb(36, 93, 157);
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}
.sub-heading {
  margin: 30px auto 0px auto;
  color: var(--btn);
}
.heading{
  font-size: 40px;
  margin: 20px auto 30px auto;
  text-align: center;
}
.cursive-font{
  font-family: 'Playfair Display', serif;
  color: var(--btn);
  font-weight: 700;
}

/* NAVIGATION BAR */
header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  height: 70px;
  box-shadow: 2px 2px 15px rgb(226, 221, 221);
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  line-height: 70px;
  width: 100%;
}
header img {
  max-width: 220px;
  margin-left: 100px;
}
/* MENU */
.navbar ul {
  display: flex;
}
.navbar ul li a {
  margin: 0px 25px;
  font-size: 18px;
  font-weight: bold;
  padding: 17px 0px;
  color: rgb(10, 10, 10);
  position: relative;
}
.navbar ul li a:hover {
  border-bottom: 3px solid rgb(36, 93, 157);
  cursor: pointer;
}
.search {
  position: absolute;
  top: 20px;
  right: 70px;
  padding: 15px;
  width: 34px;
  height: 34px;
  color: white;
  background: var(--btn);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: lighter;
  cursor: pointer;
}
/* ICONBAR */
.iconbar{
  color: var(--btn);
  border: 1px solid var(--btn);
  border-radius: 5px;
  padding: 0px 10px;
  height: 40px;
  font-size: 1.8rem;
  position: absolute;
  top: 15px;
  left: 20px;
  opacity: 0;
  visibility: hidden;
}
.iconbar:hover{
  color: var(--btn);
}

/* MAIN CONTAINER */
.main-container {
  max-width: 90%;
  height: 100%;
  margin: auto;
}

/* SHOWCASE */
.showcase {
  width: 100%;
  margin: auto;
  height: 100vh;
  border-radius: 5px;
  background: url("https://dynamic.net.np/images/slides/slider-mainbg-004.jpg")
    no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}
.showcase-content {
  max-width: 100%;
  text-align: left;
  padding: 100px;
}
.showcase-content h3 {
  font-size: 20px;
  color: var(--btn);
  width: 270px;
  position: relative;
}
.showcase-content h3::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  height: 2px;
  background: var(--btn);
  width: 20%;
}
.showcase-content h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  word-spacing: 10px;
}
.showcase-content h1 span{
  font-family: 'Poppins', sans-serif;
  color: var(--btn);
}
.showcase-content p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.btn{
  text-align: center;
  padding: 10px 50px;
  font-size: 17px;
  font-weight: bold;
  height: 30px;
  margin-right: 20px;
  background: rgb(36, 93, 157);
  color: white;
}
.btn-transparent{
  text-align: center;
  padding: 10px 50px;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 2px;
  background: transparent;
  color: black;
}

.showcase-img {
  width: 50%;
}

/* ABOUT-CONTAINER */
.about-container {
  display: flex;
  height: 95vh;
  margin-top: 100px;
  justify-content: space-around;
  align-items: center;
}
.about-container .about-left {
  width: 100%;
  text-align: right;
  height: 100%;
  margin-right: 5px;
}
.about-container .about-left img {
  height: 100%;
}
.about-container .about-right {
  width: 100%;
  height: 100%;
  background: rgb(247, 249, 254);
  text-align: left;
  padding: 30px 40px;
}
.about-right h4 {
  font-weight: 600;
  text-align: left;
  margin-top: 20px;
  color: var(--btn);
}
.about-right h1 {
  margin: 15px 0px;
}
.about-right p {
  text-align: justify;
  margin-bottom: 15px;
}
.badge-left {
  float: left;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
}
.badge-left h3{
  height: 40px;
}
.fa-award,
.fa-certificate {
  position: relative;
  top: 10px;
  width: 20px;
  margin-right: 30px;
  font-size: 40px;
  color: var(--btn);
}
.badge-left span {
  font-weight: 900;
  opacity: 0.5;
  font-size: 16px;
  margin-left: 50px;
}
.badge-right {
  float: right;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
}
.badge-right h3{
  height: 40px;
}
.badge-right span {
  font-weight: 900;
  opacity: 0.5;
  font-size: 16px;
  margin-left: 50px;
}
hr {
  width: 98%;
  margin: 0px auto 10px auto;
  opacity: 0.5;
}
hr + a {
  margin-top: 50px;
  position: relative;
  top: 20px;
}

/* SERVICES */
.services {
  width: 100%;
  margin: 15vh auto 0px auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.service-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 30px;
  box-shadow: 1px 1px 10px rgb(230, 229, 229);
  border-radius: 5px;
}
.service-left{
  width: 50%;
  height: 100%;
}
.service-left h2{
  font-size: 32px;
}
.service-left p{
  margin: 10px auto 20px auto;
  font-weight: 600;
  opacity: 0.7;
}
.service-left ul{
  font-size: 18px;
  font-weight: 600;
  list-style: none;
  margin-bottom: 30px;
}  
.service-left ul li{
  margin: 5px;
}
.fa-arrow-circle-right{
  margin-right: 10px;
  color: var(--btn);
}
.round-btn{
  padding: 10px 20px;
  background: var(--btn);
  color: white;
  font-weight: bolder;
  border-radius: 30px;
}
.round-btn i{
  color: white;
  margin-left: 5px;
  font-size: 15px;
}

.service-right{
  width: 50%;
  padding: 30px;
}
.service-right img{
  width: 100%;
  border: 15px solid rgb(240,240,240);
}




/* DETAIL */
.detail {
  margin-top: 20vh;
  width: 100%;
  height: 80vh;
  background: url(bg.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
}
.details {
  position: absolute;
  top: 100px;
  left: 0px;
  background: rgb(36, 93, 157);
  width: 85%;
  height: 70vh;
  padding: 70px 100px;
}
.details h4 {
  color: white;
  font-size: 20px;
}
.details h2 {
  font-size: 35px;
  color: white;
  position: relative;
}
.details .cursive-font{
  color: white;
}
.details h2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 87%;
  height: 5px;
  background: white;
}
.details p {
  color: rgb(221, 217, 217);
  margin-top: 30px;
}
.details-divs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 30px;
}
.detail-div {
  width: 100%;
  text-align: center;
  border-left: 1px dashed rgb(185, 182, 182);
  border-right: 1px dashed rgb(185, 182, 182);
}
.detail-div h1 {
  font-size: 35px;
  color: white;
  height: 50px;
}
.detail-div h1 i {
  margin: 0px 15px 0px 0px;
}


/* CLIENTS */
.client{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('https://dynamic.net.np/images/bg-image/row-bgimage-3.png') no-repeat center center/cover;
  background-attachment: fixed;
}
.client .sub-heading{
  margin-top: 15vh;
}
.clients{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  border-radius: 15px;
  padding: 20px;
}
.clients img{
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: 30px 50px;
  border: 5px solid rgb(240,240,240);
  border-radius: 10px;
  filter: grayscale(100%);
}
.clients img:hover{
  filter: none;
}


/* TESTIMONAIL */
.testimonial {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(247,249,254);
  padding: 50px 0px;
}
.testimonial h1 {
  margin-bottom: 30px;
  font-size: 40px;
}
.testimonial img {
  border: 10px solid rgb(240,240,240);
  border-radius: 50%;
  margin-bottom: 20px;
}
.testimonial p {
  font-style: italic;
  font-weight: 600;
  width: 500px;
  margin-bottom: 15px;
}
.testimonial h2 + h3{
  font-size: 17px;
  font-weight: lighter;
}

/* FOOTER */
.footer-content{
  width: 100%;
  height: 90vh;
  padding: 20px 100px;
  background: var(--btn);
  display: grid;
  grid-template-areas: 
  "footer1 footer2 footer3 footer4";
  color: white;
}
.footer-content img{
  background: white;
  border-radius: 10px;
  width: 200px;
  height: auto;
}
.footer-content h3,
.footer-content h2{
  margin-top: 30px;
}
.footer-content i{
  margin-right: 10px;
  font-size: 15px;
  color: orange;
}
.footer-content p:hover,
.footer-content li:hover{
  color: orange;
  cursor: pointer;
}
.footer1,
.footer2,
.footer3,
.footer4{
  padding: 10px;
}

footer{
  padding: 10px 100px;
  background: rgb(34,44,64);
}
footer h3{
  color: white;
  word-spacing: 2px;
  font-size: 17px;
  font-weight: lighter;
}
footer span{
  color: orange;
}